<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246405522077-c356v6lf2nha9hkpnshbl2j9nmjtref1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246405522077-c356v6lf2nha9hkpnshbl2j9nmjtref1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246405522077-selo738sgien4ga6qtstekeaf0ktm65j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-0lr9VEGeEoMqxpLEzfvphuGltfJTDko</string>
	<key>GCM_SENDER_ID</key>
	<string>246405522077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restHell</string>
	<key>PROJECT_ID</key>
	<string>rest-hell</string>
	<key>STORAGE_BUCKET</key>
	<string>rest-hell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246405522077:ios:aa8c9b51a6a100250eaa74</string>
</dict>
</plist>